.compare-container {
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 0px 10px gray;
    padding: 10px 15px;
} 
.compare-container h1 {
    font-family: 'Oswald', sans-serif;
    color: #D81324;
}
.table td {
    padding: 5px;
    align-content: center;
}
.table th {
    font-family: 'Oswald', sans-serif;
}
/* Thiết lập cột của xe 1 và xe 2 mỗi cột chiếm 50% */
.table td:nth-child(2),
.table td:nth-child(3) {
    width: 50%;
}
